<div class="container">
  <h1 class="mb-4">Hospitals</h1>

  <!--  SEARCH BAR -->
  <form method="get" action="<%= hospitals_path %>" class="mb-4">
    <div class="input-group">
      <input type="text" name="query"
             class="form-control"
             placeholder="Search by name or city, or department"
             value="<%= params[:query] %>">

      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </div>
  </form>

  <!--  HOSPITAL CARDS -->
  <div class="row">
    <% @hospitals.each do |hospital| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to hospital.name, hospital_path(hospital) %>
            </h5>

            <p class="card-text">
              <strong>City:</strong> <%= hospital.city %><br>
              <strong>Address:</strong> <%= hospital.address %><br>
              <strong>Phone:</strong> <%= hospital.phone %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
  <%= paginate @hospitals %>
  </div>
</div>